@font-face {
    font-family: 'Minecraftia';
    src: url("/fonts/Minecraftia-Regular.ttf");
}

.minecraft-topbar{
    -fx-background-color: #00000F;
}

.minecraft-button-label {
    /* text */
    -fx-font-family: 'Minecraftia';
    -fx-font-size: 12px;
    -fx-label-padding: 12 0 0 0;
    -fx-line-spacing: 0;
    -fx-graphic-text-gap: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: white;

    /* background */
    -fx-border-image-source: url("/images/minecraftButton.png");
    -fx-border-image-slice: 7 fill;
    -fx-border-image-width: 7;
    -fx-border-image-repeat: stretch;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.minecraft-button {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.minecraft-button:hover {
    -fx-border-color: white;
}
