@font-face {
    font-family: 'Minecraftia';
    src: url("/fonts/Minecraftia-Regular.ttf");
}

.minecraft-topbar{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.minecraft-scroll-pane .scroll-bar .thumb {
    -fx-background-color: #c0c0c0;
    -fx-border-radius: 0;
    -fx-border-width: 0 2 2 0;
    -fx-border-color: #808080;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.minecraft-scroll-pane .scroll-bar:horizontal{
    -fx-pref-height: 10px;
}
.minecraft-scroll-pane .scroll-bar:horizontal .track{
    -fx-pref-height: 12px;
}
.minecraft-scroll-pane .scroll-bar:vertical{
    -fx-pref-width: 10px;
}
.minecraft-scroll-pane .scroll-bar:vertical .track{
    -fx-pref-width: 12px;
}
.minecraft-scroll-pane .scroll-bar{
    -fx-background-color: #000000;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.minecraft-scroll-pane .scroll-bar > .corner {
    -fx-background-color: transparent;
}
.minecraft-scroll-pane .scroll-bar > .increment-button > .increment-arrow,
.minecraft-scroll-pane .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.minecraft-button-label {
    /* text */
    -fx-font-family: 'Minecraftia';
    -fx-font-size: 12px;
    -fx-label-padding: 12 0 0 0;
    -fx-line-spacing: 0;
    -fx-graphic-text-gap: 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: white;

    /* background */
    -fx-border-image-source: url("/images/minecraftButton.png");
    -fx-border-image-slice: 7 fill;
    -fx-border-image-width: 7;
    -fx-border-image-repeat: stretch;
}

.minecraft-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.minecraft-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.minecraft-button {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.minecraft-button:hover {
    -fx-border-color: white;
}